.error-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  background-color: #00000033;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 150px;
    width: 400px;
    color: #da0505;
    font-size: 18px;
    background-color: #fff;
    z-index: 2;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 3;
  }
}
