* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

@import './App.scss';
@import './components/Conversation/Conversation.scss';
@import './components/CommentForm/CommentForm.scss';
@import './components/TextField/TextField.scss';
@import './components/Input/Input.scss';
@import './components/PhotoList/PhotoList.scss';
@import './components/Photo/Photo.scss';
@import './components/DocList/DocList.scss';
@import './components/Doc/Doc.scss';
@import './components/PhotoModal/PhotoModal.scss';
@import './components/ErrorModal/ErrorModal.scss';
@import './components/Loader/Loader.scss';
